@import '../mixins';
@import '../variables';


.footer{
    .row_edit{
        .left{
            padding-left: 80px;
            h5{}
            p{  
            }
        }
        .middle{
            padding-left: 80px;
            border-left: 3px solid $bg-7th;
            border-right: 3px solid $bg-7th;
            h5{}
            p{}
        }
        .right{
            padding-left: 80px;
            h5{}
            p{}
        }

    }
    .copy_right{
        margin-top: 20px;
        text-align: center;
        padding: 10px 0;
        background-color: #D9D9D9;
        p{
            margin: 0
        }

    }
}