@import '../fonts';
@import '../mixins';
@import '../variables';


.addition{
    background-color: $bg-11th;
    border: none;
    padding: 0 15px;
    border-radius: 5px;
    box-shadow: $button-shadow;
    color: $text-color-3nd;
    
}
.quantity{
    padding: 0 30px;
    background-color: $bg-15th;
    margin: 0 15px;
}
.subtraction{
    background-color: $bg-11th;
    border: none;
    padding: 0 18px;
    border-radius: 5px;
    box-shadow: $button-shadow;
    color: $text-color-3nd;
}
.edit{
    background-color: $bg-11th;
    color: $text-color-3nd;
    padding: 8px 20px;
    border: none;
    border-radius: 5px;
    text-decoration: none;
    box-shadow: $button-shadow;
    font-family: $text-ff-roboto;
    font-size:$text-fz-md;
}
.delete{
    background-color: $bg-12th;
    color: $text-color-3nd;
    padding: 5px 20px;
    border: none;
    border-radius: 5px;
    margin-left: 20px;
    box-shadow: $button-shadow;
    font-family: $text-ff-roboto;
    font-size:$text-fz-md;
    
}