@import '../fonts';
@import '../mixins';
@import '../variables';


.carts{
    
    margin: 50px 0;
    h3{
        font-size: $text-fz-4xl;
    }
    hr{
        color: $bg-7th;
        height: 3px
    }
    .order{
        margin-top: 20px;
        .submit{
            background-color: $bg-16th;
            box-shadow: $button-shadow;
            border: none;
            border-radius: 5px;
            color:$text-color-3nd;
            padding: 10px 20px;
            font-size:$text-fz-md;
            font-family: $text-ff-roboto;
            margin-left: 950px;
            @include Responsive($XL){
                margin-left: 750px;
            }
            @include Responsive($MD){
                margin-left: 500px;
            }
            @include Responsive($SM){
                margin-left: 350px;
            }
            @include Responsive($XS){
                margin-left: 180px;
            }
        }
     }
}