@import '../fonts';
@import '../mixins';
@import '../variables';

.detail{
  margin: 50px 0;
  @include Responsive($XS){
    margin: 20px 0;
  }
    .product_detail{
      display: flex;
      @include Responsive($XS){
        display: block;
      }
        .detail_img{
            img{
                width: 100%;
                padding: 80px;
                @include Responsive($MD){
                  padding: 20px;
                }
            }
        }
        .detail_text{
            padding-left: 50px;
            @include Responsive($MD){
              padding: 30px;
            }
            h4{
                font-size: $text-fz-3xl;
               
            }
            .des{
                font-size: $text-fz-md;
            }
            h5{
                font-size: $text-fz-2xxl;
                color: $text-color-4th;
            }
            .row_size{
                font-size: $text-fz-2xxl;
                margin: 10px 0;
                flex-wrap: wrap;
                .size{
                    background-color: $bg-8th;
                    padding:5px 15px;
                    margin-right: 10px;
                    border: none;
                    margin-bottom: 10px;
                    @include Responsive($MD){
                      font-size: $text-fz-2xl;
                    }
                }
            }
            .price{
                font-size: $text-fz-3xl;
                color: $text-color-5th;
                @include Responsive($MD){
                  font-size: $text-fz-2xxl;
                  margin-bottom: 10px;
                }
            }
            .edit_quantity{
                font-size: $text-fz-3xl;
                @include Responsive($MD){
                  font-size: $text-fz-2xxl;
                  margin-bottom: 10px;
                }
                .increase{
                    background-image: $bg-13th;
                    padding: 2px 15px;
                    color: $text-color-3nd;
                    border: none;
                    margin-right: 10px;
                }
                
                .reduce{
                    background-image: $bg-13th;
                    padding: 2px 18px;
                    color: $text-color-3nd;
                    border: none;
                    margin-left: 10px;
                }
            }
            .add{
                font-size: $text-fz-2xxl;
                background-image: $bg-14th;
                color: $text-color-3nd;
                padding: 5px 15px;
                border: none;
                margin-top: 10px;
                @include Responsive($XS){
                 margin-left: 55px;
                }
            }
        }
    }
    .title{
        text-align: center;
        font-size: $text-fz-4xl;
        margin-top: 20px;
        @include Responsive($MD){
          font-size: $text-fz-3xl;      
        }
        @include Responsive($XS){
          font-size: $text-fz-2xxl;      
        }
    }
    .row_related {
        .related{
          padding: 20px;
          @include Responsive($MD){
            padding: 10px;      
          }
          .related_card {
            padding: 0;
            .image_related {
              margin-bottom: 50px;
              max-height: 300px;
              @include Responsive($MD){
                margin-bottom: 0;
                max-height: 250px;
              }
            
            
              img {
                width: 100%;
                padding: 50px;
                @include Responsive($MD){
                padding: 20px;
                }
              
               
              }
            }
            .body_related {
              padding: 0 16px;
              min-height: 150px;
              @include Responsive($SM){
                min-height: 110px;
               }
              h4 {
                font-size: $text-fz-2xxl;
                @include Responsive($MD){
                  font-size:  $text-fz-2xl;
                 }
                 @include Responsive($SM){
                  font-size:  $text-fz-md;
                 }
              }
              p {
                font-size: $text-fz-2xl;
                color: $text-color-2nd;
                margin: 0;
                @include Responsive($MD){
                  font-size: $text-fz-md
                }
                @include Responsive($SM){
                  font-size:  $text-fz-sm;
                 }
              }
            }
            .footer_related{
              font-size: $text-fz-2xxl;
              @include Responsive($MD){
                font-size: $text-fz-2xl
              }
              @include Responsive($SM){
                font-size: $text-fz-md
              }
  
              a {
                border: none;
                width: 50%;
                background-color: $bg-10th;
                padding: 10px 0;
                text-align: center;
                text-decoration: none;
                color: $text-color-3nd;
                
              }
              p {
                width: 50%;
                margin: 0;
                text-align: center;
                padding: 10px 0;
                font-weight: $text-fw-semibold;
                background-color: $bg-7th;
              }
            }
          }
        }
        
      }

    
}